/* XIAO nRF54LM20B MicroPython application overlay. */

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,uart-mcumgr = &cdc_acm_uart0;
        zephyr,bt-mon-uart = &cdc_acm_uart0;
        zephyr,bt-c2h-uart = &cdc_acm_uart0;
    };

    zephyr,user {
        io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
                       <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "XIAO nRF54LM20B USB CDC ACM";
    };
};

/ {
    fstab {
        compatible = "zephyr,fstab";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/flash";
            partition = <&storage_partition>;
            automount;
            read-size = <32>;
            prog-size = <32>;
            cache-size = <128>;
            lookahead-size = <64>;
            block-cycles = <2048>;
        };
    };
};

&pdm20 {
    status = "okay";
};

&pwm20 {
    status = "okay";
};

&wdt31 {
    status = "okay";
};
