/*
 * Copyright (c) 2026 Seeed Technology Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Remove the small internal-RRAM storage partition. */
/delete-node/ &storage_partition;

/* The board's user storage is the external 64-Mbit PY25Q64HA SPI NOR.
 * Keep the MCUboot/app partitions in internal RRAM and expose the external
 * flash as the MicroPython filesystem block device. */
&py25q64 {
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@0 {
			label = "storage";
			reg = <0x0 0x800000>;
		};
	};
};

/ {
    zephyr,user {
        io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>, <&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
    };
};

/ {
    fstab {
        compatible = "zephyr,fstab";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            mount-point = "/flash";
            partition = <&storage_partition>;
            automount;
            read-size = <32>;
            prog-size = <32>;
            cache-size = <128>;
            lookahead-size = <64>;
            block-cycles = <2048>;
        };
    };
};

&pdm20 {
    status = "okay";
};

&pwm20 {
    status = "okay";
};

&wdt31 {
    status = "okay";
};
